.section-list{
    display: flex;
}

.section-list__item{
    width: 270px;
}

.section-list__item:not(:first-child){
    margin-left: 30px;
}

.section-list__item-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: $bgcolor-team;
    margin-bottom: 30px;
}

.section-list__subtitle{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-list__text{
    margin-bottom: 0;
    color: var(--article-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

