.section-works{
    padding-top: 0;
}

.section-title__works{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.works-list__item:not(:last-child){
    margin-right: 30px;
}

.works-list__item{
    position:relative;
}

.overlay-works{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:rgba(47, 48, 58, 0.8);
    height: 70px;
    left:0;
    bottom: 0;
}

.section-works__subtitle{
    color: var(--white-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size:14px;
    line-height: 1.14;
}
