.modal{
    position: absolute;
    
    padding: 40px;
    border-radius: 4px;
    background-color: var(--primary-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-button{
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 8px;
    top:8px;
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 50%;
    background-color: var(--white-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    fill: var(--accent-color);
}
}

.form-title{
    text-align: center;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.form{
    width: 448px;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--article-text-color);
    position: relative;
}

.form-field input{
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.icon-input{
    position: absolute;
    display: inline-block;
    top:50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:focus+.icon-input{
    fill: var(--accent-color);
}

    &:focus{
    border-color: var(--accent-color);
}
}


.form-field textarea{
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;

}

.form-field label{
    margin-bottom: 4px;
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--article-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }
  
  .custom-checkbox {
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
    margin-right: 10px;
  

    .form-checkbox:checked + & {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    .form-checkbox:focus + & {
    outline: 2px solid rgba(0, 0, 255, 0.5);
    }
}

  
  
  .checkbox-icon {
    display: none;
    fill: #ffffff;

    .form-checkbox:checked + .custom-checkbox & {
        display: block;
      }
  }



.checkbox-link{
    color: var(--accent-color);
}

.button-form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    background-color: #188CE8;
    padding: 10px 52px;
}