:root{
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --article-text-color: #757575;
    --white-text-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --bgcolor-footer: #2F303A;
    --bgcolor-team: #F5F4FA;
    --icon-color: #AFB1B8;
}



